<p>
  <mat-toolbar style="height: 80px;" color="#212529">
    
    <div (click)="home()" style="margin-right: 12px;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Bras%C3%A3o_de_Igrejinha.svg/1395px-Bras%C3%A3o_de_Igrejinha.svg.png" width="50px" >         
    </div> 
    <span (click)="home()">Minha Cidade -  ADMIN</span>
    <span class="espacamento-toolbar"></span>
    <div class="dropdown">
      <button  mat-icon-button type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img [src]="userImage" width="40px" >         
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- <div class="row px-4 py-1">
          <button type="button" (click)="solicitarMudanca()" class="btn btn_black " >Solicitar Mudanças</button>
        </div>
        <div class="row px-4 py-1">
          <button type="button" (click)="minhasSolicitacoes()" class="btn btn_black " >Minhas Solicitações</button>
        </div>
        <div class="row px-4 py-1">
          <button type="button" class="btn btn_black " >Meu Perfil</button>
        </div> -->
        <div class="row px-4 py-1">
          <button type="button" class="btn btn_black "  (click)="deslogar()" >Sair</button>
        </div>
        
      </div>
    </div>
  </mat-toolbar>
</p>

<mat-card-content>
  <router-outlet></router-outlet>
</mat-card-content>


<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':cadastrar}">
  <div class="modal-dialog modal-lg " role="document">
    <div style="background-color: #212529; color: #FFF;" class="modal-content">
      <div  class="modal-header">
        <h4  class="modal-title">Solicitar mudança</h4>
      </div>
      <div class="modal-body justify-content-center">
        <form [formGroup]="formLogin" novalidate>

          <mat-card-content class="conteudo-login d-flex flex-column">
            <mat-form-field appearance="outline" class="form-field-full mt-3">
              <mat-label>Título</mat-label>
              <input type="text" matInput formControlName="title" placeholder="Buraco na minha rua">
              <mat-error *ngIf="formLogin.get('title').hasError('title') && formLogin.get('title').touched">
                <strong>Obrigatório</strong>
              </mat-error>
            </mat-form-field>    
            <mat-form-field appearance="outline" class="form-field-full mt-3">
              <mat-label>Categoria</mat-label>
              <select formControlName="category" matNativeControl required>
                <option value="manutencao">Manutenção</option>
                <option value="seguranca">Segurança</option>
                <option value="seguranca">Infraestrutura</option>
                <option value="seguranca">Outros</option>
              </select>
              <mat-error *ngIf="formLogin.get('category').hasError('category') && formLogin.get('category').touched">
                <strong>Obrigatório</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field-full mt-3">
              <mat-label>Descrição</mat-label>
              <textarea formControlName="description" rows="5" placeholder="Apareceu um buraco aqui no meio da minha rua" matInput></textarea>
              <mat-error *ngIf="formLogin.get('description').hasError('description') && formLogin.get('description').touched">
                <strong>Obrigatório</strong>
              </mat-error>
              
              
            </mat-form-field>
          
              <input formControlName="image" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
             
           

            <mat-form-field appearance="outline" class="form-field-full mt-3">
              <mat-label>Endereço</mat-label>
              <input type="text" matInput formControlName="address" placeholder="Rua teste">
              <mat-error *ngIf="formLogin.get('address').hasError('address') && formLogin.get('address').touched">
                <strong>Obrigatório</strong>
              </mat-error>
            </mat-form-field>
    
    
          </mat-card-content>
      </form>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" (click)="solicitar()"> Solicitar </button>
        <button type="button" class="btn btn-secondary" 
                (click)="closeSolicitarMudanca()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
