<div class="col-12">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div>
                <img align="left" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="mr-2" width="60px" >
                <p align="justify" class="card-text"> O incentivo ao avanço tecnológico, assim como a execução dos pontos do programa pode nos levar a considerar a reestruturação das condições financeiras e administrativas exigidas. Desta maneira, o início da atividade geral de formação de atitudes maximiza as possibilidades por conta da gestão inovadora da qual fazemos parte. Pensando mais a longo prazo, a contínua expansão de nossa atividade exige a precisão e a definição de todos os recursos funcionais envolvidos. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a estrutura atual da organização prepara-nos para enfrentar situações atípicas decorrentes de alternativas às soluções ortodoxas.</p>
             </div>
             <div class="row mt-2">
                <div class="col-6"><img style="max-width:100%;" src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
                <div class="col-6"><img style="max-width:100%;"src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
              </div>
              <div class="row mt-4">
                <div class="d-flex justify-content-center align-items-center">
                  <i style="font-size:26px;" class="bi bi-heart mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-chat mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-share" ></i>
                </div>
                

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div>
                <img align="left" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="mr-2" width="60px" >
                <p align="justify" class="card-text"> O incentivo ao avanço tecnológico, assim como a execução dos pontos do programa pode nos levar a considerar a reestruturação das condições financeiras e administrativas exigidas. Desta maneira, o início da atividade geral de formação de atitudes maximiza as possibilidades por conta da gestão inovadora da qual fazemos parte. Pensando mais a longo prazo, a contínua expansão de nossa atividade exige a precisão e a definição de todos os recursos funcionais envolvidos. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a estrutura atual da organização prepara-nos para enfrentar situações atípicas decorrentes de alternativas às soluções ortodoxas.</p>
             </div>
             <div class="row mt-2">
                <div class="col-6"><img style="max-width:100%;" src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
                <div class="col-6"><img style="max-width:100%;"src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
              </div>
              <div class="row mt-4">
                <div class="d-flex justify-content-center align-items-center">
                  <i style="font-size:26px;" class="bi bi-heart mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-chat mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-share" ></i>
                </div>
                

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div>
                <img align="left" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="mr-2" width="60px" >
                <p align="justify" class="card-text"> O incentivo ao avanço tecnológico, assim como a execução dos pontos do programa pode nos levar a considerar a reestruturação das condições financeiras e administrativas exigidas. Desta maneira, o início da atividade geral de formação de atitudes maximiza as possibilidades por conta da gestão inovadora da qual fazemos parte. Pensando mais a longo prazo, a contínua expansão de nossa atividade exige a precisão e a definição de todos os recursos funcionais envolvidos. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a estrutura atual da organização prepara-nos para enfrentar situações atípicas decorrentes de alternativas às soluções ortodoxas.</p>
             </div>
             <div class="row mt-2">
                <div class="col-6"><img style="max-width:100%;" src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
                <div class="col-6"><img style="max-width:100%;"src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
              </div>
              <div class="row mt-4">
                <div class="d-flex justify-content-center align-items-center">
                  <i style="font-size:26px;" class="bi bi-heart mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-chat mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-share" ></i>
                </div>
                

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div>
                <img align="left" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="mr-2" width="60px" >
                <p align="justify" class="card-text"> O incentivo ao avanço tecnológico, assim como a execução dos pontos do programa pode nos levar a considerar a reestruturação das condições financeiras e administrativas exigidas. Desta maneira, o início da atividade geral de formação de atitudes maximiza as possibilidades por conta da gestão inovadora da qual fazemos parte. Pensando mais a longo prazo, a contínua expansão de nossa atividade exige a precisão e a definição de todos os recursos funcionais envolvidos. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a estrutura atual da organização prepara-nos para enfrentar situações atípicas decorrentes de alternativas às soluções ortodoxas.</p>
             </div>
             <div class="row mt-2">
                <div class="col-6"><img style="max-width:100%;" src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
                <div class="col-6"><img style="max-width:100%;"src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
              </div>
              <div class="row mt-4">
                <div class="d-flex justify-content-center align-items-center">
                  <i style="font-size:26px;" class="bi bi-heart mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-chat mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-share" ></i>
                </div>
                

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div>
                <img align="left" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="mr-2" width="60px" >
                <p align="justify" class="card-text"> O incentivo ao avanço tecnológico, assim como a execução dos pontos do programa pode nos levar a considerar a reestruturação das condições financeiras e administrativas exigidas. Desta maneira, o início da atividade geral de formação de atitudes maximiza as possibilidades por conta da gestão inovadora da qual fazemos parte. Pensando mais a longo prazo, a contínua expansão de nossa atividade exige a precisão e a definição de todos os recursos funcionais envolvidos. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a estrutura atual da organização prepara-nos para enfrentar situações atípicas decorrentes de alternativas às soluções ortodoxas.</p>
             </div>
             <div class="row mt-2">
                <div class="col-6"><img style="max-width:100%;" src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
                <div class="col-6"><img style="max-width:100%;"src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
              </div>
              <div class="row mt-4">
                <div class="d-flex justify-content-center align-items-center">
                  <i style="font-size:26px;" class="bi bi-heart mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-chat mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-share" ></i>
                </div>
                

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div>
                <img align="left" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="mr-2" width="60px" >
                <p align="justify" class="card-text"> O incentivo ao avanço tecnológico, assim como a execução dos pontos do programa pode nos levar a considerar a reestruturação das condições financeiras e administrativas exigidas. Desta maneira, o início da atividade geral de formação de atitudes maximiza as possibilidades por conta da gestão inovadora da qual fazemos parte. Pensando mais a longo prazo, a contínua expansão de nossa atividade exige a precisão e a definição de todos os recursos funcionais envolvidos. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a estrutura atual da organização prepara-nos para enfrentar situações atípicas decorrentes de alternativas às soluções ortodoxas.</p>
             </div>
             <div class="row mt-2">
                <div class="col-6"><img style="max-width:100%;" src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
                <div class="col-6"><img style="max-width:100%;"src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
              </div>
              <div class="row mt-4">
                <div class="d-flex justify-content-center align-items-center">
                  <i style="font-size:26px;" class="bi bi-heart mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-chat mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-share" ></i>
                </div>
                

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div>
                <img align="left" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="mr-2" width="60px" >
                <p align="justify" class="card-text"> O incentivo ao avanço tecnológico, assim como a execução dos pontos do programa pode nos levar a considerar a reestruturação das condições financeiras e administrativas exigidas. Desta maneira, o início da atividade geral de formação de atitudes maximiza as possibilidades por conta da gestão inovadora da qual fazemos parte. Pensando mais a longo prazo, a contínua expansão de nossa atividade exige a precisão e a definição de todos os recursos funcionais envolvidos. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a estrutura atual da organização prepara-nos para enfrentar situações atípicas decorrentes de alternativas às soluções ortodoxas.</p>
             </div>
             <div class="row mt-2">
                <div class="col-6"><img style="max-width:100%;" src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
                <div class="col-6"><img style="max-width:100%;"src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/10/3nrpyxb6niw4c.jpg"  ></div>
              </div>
              <div class="row mt-4">
                <div class="d-flex justify-content-center align-items-center">
                  <i style="font-size:26px;" class="bi bi-heart mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-chat mr-4" ></i>
                  <i style="font-size:26px;" class="bi bi-share" ></i>
                </div>
                

              </div>
            </div>
          </div>
        </div>
        
      </div>
   
</div>